<div class="bg-image d-flex flex-column justify-content-center">
    <div class="row mt-3">
        <div class="col-lg-6">
            <img src="../../assets/images/Kanban-Project-Management.webp" class="kanban_board_image" />
        </div>
        <div class="col-lg-6 text-center text-white">
            <h2 class="mt-5 mb-5">KANBAN BOARD</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga similique quaerat ab
                nulla, cupiditate
                voluptates omnis explicabo eius aut? Sapiente dolorum saepe culpa nesciunt! Possimus animi quasi
                autem
                omnis sequi.</p>
            <p class="creation-tag">Create Your Own Kanban Board</p>
            <a routerLink="home" class="bg-primary text-white">Get Started</a>
        </div>
    </div>
</div>