<div class="topnav">
  <a class="active" href="">KonbanBoard</a>
  <a class="nav-link" [routerLink]="['/home']">Home</a>
  <a class="nav-link" [routerLink]="['/login']">LogIn</a>
  <a class="nav-link" [routerLink]="['/about']">About Us</a>
  <a class="nav-link" [routerLink]="['/contact']">Contact</a>
</div>
<div class="banner d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col-lg-6 text-center">
      <h3 class="heading mb-3">What is Kanban Software?</h3>
      <div class="col-lg-6 m-auto">
        <p class="description">You know that “do, doing, done,” board with all the sticky notes? Believe it or not, your
          coworker didn’t
          make
          that up. It’s the Kanban method. Commonly used by software development teams, Kanban is a way to help
          teams
          visualize the work that needs to get done with the available capacity of their team. A Kanban board; is
          a form
          of visual project management that allows you to plot out projects and workflows using columns and cards.
        </p>
      </div>
    </div>
    <div class="col-lg-6 text-center">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/a8MRGJTyvlI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>